$color-base: #555;
$color-brand: #d5d5d5;
$font-base: 14px;
$font-main: 18px;
$spacing: 20px;
$spacing-small: 10px;
$spacing-large: 60px;
$color-invert: #fff;
$button-size: 40px;

body {
  font-family: Arial,sans-serif;
  margin: 0;
  font-size: $font-base;
}

body, ::before, ::after {
  color: $color-base;
}



main {
  padding: $spacing;
}

a {
  color: $color-base;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: normal;
}

.h1 {
  margin: 0 0 $spacing-large;
  text-align: center;

  p {
    margin: 0;
  }
}

.logo {
  font-size: 2em;
  text-align: center;
  display: block;
  text-decoration: none;
}

.header {
  background: $color-brand;
  padding: $spacing;
}

.nav {
  padding: $spacing 0 0;
  display: flex;
  justify-content: space-between;

  &__button {
    width: $button-size;
    height: $button-size;
    background: $color-invert;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    a, button {
      font-size: 20px;
    }

  }
}

.search {
  display: none; //fixme
}

.row {
  font-size: $font-main;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing;
  padding-bottom: $spacing-small;
  border-bottom: 1px solid $color-base;
}

.action {
  font-size: $font-base;
}

.weather {
  font-size: $font-main;
  text-align: center;
}

.datetime {
  margin: 0;
}
.temperature {
  font-size: 40px;
  margin-bottom: 0;
}

.description {
  font-size: 22px;
  margin: 0;
}
